$container-width: 1140px !default;
$container-padding: 15px !default;
$responsive-cutoff: 768px !default;

$h1-font-size: 2rem !default;
$h2-font-size: 1.75rem !default;
$h3-font-size: 1.5rem !default;
$h4-font-size: 1.25rem !default;
$h5-font-size: 1rem !default;
$h6-font-size: 1rem !default;

$color-text: #1a1a1a !default;
$color-primary: #6366f1 !default;
$color-light: #f9fafb !default;
$color-white: #ffffff !default;
$color-black: #000000 !default;
$color-btn: #4f46e5 !default;
$color-border: #dee2e6 !default;
$color-selection: #dee2e6 !default;

:root {
    --color-primary-rgb: 99, 102, 241;
}

$color-text-dark: #d1cdc7 !default;
$color-primary-dark: #33a3ff !default;
$color-light-dark: #1b1e1f !default;
$color-white-dark: #181a1b !default;
$color-black-dark: #e7e5e4 !default;
$color-btn-dark: #cbc5bf !default;
$color-border-dark: false !default;
$color-selection-dark: false !default;

// Base styles
@import "base/reset";
@import "base/color";
@import "base/layout";

// Components
@import "components/buttons";
@import "components/tables";
@import "components/toc";
@import "components/tags";
@import "components/figures";
@import "components/footnotes";
@import "components/copy-button";
@import "components/callouts";

// Sections
@import "sections/post-list";
@import "sections/featured-image";
@import "sections/main-feed";

// Vendor/Syntax
@import "vendor/highlight";
@import "vendor/code";

// Effects & Special Themes
@import "effects/vivid";