// Post list styling for section pages
.post-summary {
    border-bottom: 1px solid $color-border;
    padding: 2em 0;
    margin-bottom: 0;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }
}

.post-summary h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 1.4em;

    a {
        color: $color-text;
        text-decoration: none;

        &:hover {
            color: $color-primary;
        }
    }
}

.post-summary p {
    color: #666;
    font-size: 0.95em;
    line-height: 1.6;
    margin-bottom: 1em;
}

.post-meta {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    gap: 1em;

    time {
        font-weight: 500;
    }
}

.reading-time {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 1em;
}

.post-excerpt {
    margin-bottom: 1.5em;

    p {
        margin: 0;
        line-height: 1.6;
    }
}

.read-more {
    display: inline-block;
    color: $color-primary;
    text-decoration: none;
    font-weight: 500;

    &:hover {
        text-decoration: underline;
    }
}

.section-description {
    margin-bottom: 2em;
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
}

.pagination {
    margin-top: 3em;
    text-align: center;
    padding-top: 2em;
    border-top: 1px solid $color-border;

    a {
        display: inline-block;
        padding: 0.5em 1em;
        margin: 0 0.5em;
        background: $color-light;
        color: $color-text;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.2s ease;

        &:hover {
            background: darken($color-light, 5%);
            color: $color-primary;
        }
    }

    .page-info {
        margin: 0 1em;
        color: #888;
    }
}

// Dark mode support
@media (prefers-color-scheme: dark) {
    .post-summary {
        border-bottom-color: $color-black-dark;
    }

    .post-summary h2 a {
        color: $color-text-dark;

        &:hover {
            color: $color-primary-dark;
        }
    }

    .post-summary p,
    .post-meta,
    .reading-time {
        color: #aaa;
    }

    .section-description {
        color: #bbb;
    }

    .pagination {
        border-top-color: $color-black-dark;

        a {
            background: $color-light-dark;
            color: $color-text-dark;

            &:hover {
                background: darken($color-light-dark, 5%);
            }
        }

        .page-info {
            color: #aaa;
        }
    }
}